<div class="row">
  <% @items.each do |item| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img class="card-img-top" src="..." alt="Card image cap">
        <h5 class="card-title"><%= item.summary %></h5><br /><br />
        <h6 class="card-subtitle mb-2 text-muted">&#36;<%= item.price %>0</h6><br />
        <%= link_to 'Details', item_path(item.id), class: 'card-link' %>
        <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_admin_item_path(item.id), class: 'card-link' %>
          <%= link_to 'Delete', admin_item_path(item.id), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'card-link' %>
        <% end %>
      </div>
    </div>
    <hr />
  <% end %>
</div>




  
   
