<section class="jumbotron text-center">
  <div class="container">
    <h2 class="jumbotron-heading">Welcome to Colorful Creations by Tinamarie!</h2>
      <p class="lead">
        "All items you see below are uniquely hand-painted or hand-crafted. If you see something you like, please select 'Place Order' to send me an email. To learn more about me and find out about upcoming art shows I will be at, select 'About'."
      </p>
  </div>
</section>


<!-- <h2 class="booyah-box-1 col-10 offset-1"><p style="font-size: 35px;text-align: center; font-family: Lobster Two, cursive;">Welcome to Colorful Creations by Tinamarie!</p>  <p style="text-align: center">All items below are uniquely hand painted. If you see something you like, please select "Place Order" link above to send me and email.  To learn about me and find out about upcoming art shows I will be at, select "About".</p></h2> -->

<div class="row">
  <% @items.each do |item| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <%= image_tag item.photo.to_s, class: 'card-img-top' %>
        <h5 class="card-title"><%= item.summary %></h5><br /><br />
        <h6 class="card-subtitle mb-2 text-muted">&#36;<%= item.price %>0</h6><br />
        <%= link_to 'Details', item_path(item.id), class: 'card-link' %>
        <br />
        <br />
        <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_admin_item_path(item.id), class: 'card-link' %>
          <%= link_to 'Delete', admin_item_path(item.id), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'card-link' %>
        <% end %>
      </div>
    </div>
    <hr />
  <% end %>
</div>




  
   
