<!DOCTYPE html>
<html>
  <head>
    <title>Tina</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Lobster+Two:700|Niconne|Spirax&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');
    </style>
  </head>

  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-light bg-light">
      <a class="navbar-brand" href="#">Colorful Creations</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>

        </ul>
        <ul class="navbar-nav">
          
        </ul>

        </form>
      </div>
    </nav>

    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

        <%= yield %>
    </div>

    <div id="footer">
      <div class="container">
        <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Add New Item', new_admin_item_path, class: 'nav-link' %>
              <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Admin Login', new_admin_session_path, class: 'nav-link' %>
            </li>
          <% end %>
      </div>
    </div>
  </body>
</html>
